{% extends 'articles/base.html' %}
{% load widget_tweaks %}
{% load articles_tags %}
{% block content %}
    <div id="main-content" class="blog-page">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block img-fluid" src="{{ object.image.url }}"
                                     alt="article image">
                            </div>
                            <h3>{{ object.title }}</h3>
                            <p>Published {{ object.publish }} by {{ object.author.get_full_name }}</p>
                            <p>{{ object.body|markdown }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            {% with comments.count as total_comments %}
                                <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
                            {% endwith %}
                        </div>
                        <div class="body">
                            <ul class="comment-reply list-unstyled">
                                {% for comment in comments %}
                                    <li class="row clearfix">
                                        <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                            <h5 class="m-b-0">{{ comment.name }}</h5>
                                            <p>{{ comment.body|linebreaks }}</p>
                                            <ul class="list-inline">
                                                <li>{{ comment.created }}</li>
                                            </ul>
                                        </div>
                                        {% empty %}
                                        <p>There are no comments yet</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        {% if new_comment %}
                            <div class="header">
                                <h2>Your comment has been added.</h2>
                            </div>
                        {% else %}
                            <div class="header">
                                <h2>Leave a comment <small>Your email address will not be published.</small></h2>
                            </div>
                            <div class="body">
                                <div class="comment-form">
                                    <form method="POST" class="row clearfix">
                                        {% csrf_token %}
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {% render_field comment_form.name class='form-control' placeholder='Your Name' %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {% render_field comment_form.email class='form-control' placeholder='Email Address' %}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {% render_field comment_form.body class='form-control' placeholder='Please type what you want...' %}
                                            </div>
                                            <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="header">
                            <h2><a href="{% url 'articles:article-share' object.id %}">Share this article</a></h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Similar Articles</h2>
                        </div>
                        <div class="body widget popular-post">
                            <div class="row">
                                <div class="col-lg-12">
                                    {% for similar_article in similar_articles %}
                                        <div class="single_post">
                                            <p class="m-b-0">{{ similar_article.title }}</p>
                                            <span>{{ similar_article.created }}</span>
                                            <div class="img-post">
                                                <a href="{{ similar_article.get_absolute_url }}"><img
                                                        src="{{ similar_article.image.url }}"
                                                        alt="Article Image"></a>
                                            </div>
                                        </div>
                                    {% empty %}
                                        There are no similar articles yet.
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}