{% extends 'articles/base.html' %}
{% load static %}
{% load articles_tags %}
{% block content %}
    <div id="main-content" class="blog-page">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    {% for article in articles %}
                        <div class="card single_post">
                            <div class="body">
                                <div class="img-post">
                                    <img class="d-block img-fluid"
                                         src="{{ article.image.url }}"
                                         alt="article image">
                                </div>
                                <h3>{{ article.title }}</h3>
                                <p>Published {{ article.publish }} by {{ article.author.get_full_name }}</p>
                                <p>{{ article.body | markdown |truncatewords_html:10 }}</p>
                            </div>
                            <div class="footer">
                                <div class="actions">
                                    <a href="{{ article.get_absolute_url }}" class="btn btn-outline-secondary">Continue
                                        Reading</a>
                                </div>
                                <ul class="stats">
                                    <li>Tags: {{ article.tags.all|join:', ' }}</li>
                                    <li><a class="fa fa-heart like-btn"
                                           data-article-id="{{ article.id }}"><span
                                            id="like-count-{{ article.id }}">{{ article.likes }}</span></a></li>
                                    <li><a href="{{ article.get_absolute_url }}"
                                           class="fa fa-comment">{{ article.comments.count }}</a></li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'articles/pagination.html' with page=articles %}
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="body search">
                            <div class="input-group m-b-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Tags</h2>
                        </div>
                        <div class="body widget">
                            <ul class="list-unstyled categories-clouds m-b-0">
                                {% for tag in tags %}
                                    <li>
                                        <a href="{% url 'articles:articles_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Our blog has {% total_articles %} articles so far</h2>
                        </div>
                        <p style="text-align: center">Latest Articles</p>
                        {% show_latest_articles 3 %}
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Most Commented Articles</h2>
                        </div>
                        <div class="body widget">
                            {% get_most_commented_articles 5 as most_commented_articles %}
                            <ul class="list-unstyled instagram-plugin m-b-0">
                                {% for most_commented_article in most_commented_articles %}
                                    <li>
                                        <a href="{{ most_commented_article.get_absolute_url }}">{{ most_commented_article.title }}, </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_scripts %}
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}