{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block page_links %}{% endblock %}
    <title>My Blog: {% block title %}{{ page_title }}{% endblock %}</title>
</head>
<body>
<header class="header-area overlay mb-2">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:edit-profile' %}" class="navbar-brand">{{ request.user.get_full_name }}</a>
            {% endif %}
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
            </button>
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a href="{% url 'articles:articles-list' %}" class="nav-item nav-link active">Articles</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'articles:create-article' %}" class="nav-item nav-link">Create Article</a>
                        </li>
                        <li><a href="{% url 'accounts:logout' %}" class="nav-item nav-link">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}" class="nav-item nav-link">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% block content %}{% endblock %}
</body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% block page_scripts %}{% endblock %}
</html>