{% extends 'articles/base.html' %}
{% load articles_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if query %}
                    <h3>article containing {{ query }}</h3>
                    <h4>
                        {% with results.count as total_results %}
                            Found {{ total_results }} result{{ total_results|pluralize }}
                        {% endwith %}
                    </h4>
                    {% for result in results %}
                        <h5><a href="{{ result.get_absolute_url }}">{{ result.title }}</a></h5>
                        <p>{{ result.body|markdown|truncatewords_html:5 }}</p>
                    {% empty %}
                        <p>There are no results for your search</p>
                    {% endfor %}
                    <p><a href="{% url 'articles:article-search' %}">search again</a></p>
                {% else %}
                    <h1>Search for articles</h1>
                    <form method="GET">
                        <div class="form-group">
                            {% render_field form.query class='form-control' placeholder='Search' %}
                        </div>
                        <button class="input-group-text"><i class="fa fa-search"></i></button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}